@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid p-0">

    <iframe
        src="http://localhost:8088"
        width="100%"
        height="900"
        style="border:none;">
    </iframe>

</div>